* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.naving {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.menu {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.boxes {
  width: 800px;
  margin: 50px auto;
}

.content1 {
  width: 100%;
  display: flex;
}
.box1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}
.box2 {
  width: 200px;
  height: 200px;
  background-color: #77ebbb;
}
.box3 {
  width: 200px;
  height: 200px;
  background-color: #5af56c;
}
.box4 {
  width: 200px;
  height: 200px;
  background-color: #1ef136;
}

.content2 {
  width: 100%;
  display: flex;
}
.box5 {
  width: 200px;
  height: 200px;
  background-color: #c3e992;
}
.box6 {
  width: 200px;
  height: 200px;
  background-color: #73ee4e;
}
.box7 {
  width: 200px;
  height: 200px;
  background-color: #93f55a;
}
.box8 {
  width: 200px;
  height: 200px;
  background-color: #a0f11e;
}

.content3 {
  width: 100%;
  display: flex;
}
.box9 {
  width: 200px;
  height: 200px;
  background-color: #e6f9ff;
}
.box10 {
  width: 200px;
  height: 200px;
  background-color: #77d0eb;
}
.box11 {
  width: 200px;
  height: 200px;
  background-color: #5af0f5;
}
.box12 {
  width: 200px;
  height: 200px;
  background-color: #1eaef1;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: gray;
}
.footer-text {
  color: #e6ffe9;
}
